@import "../../../../global.scss";

.upcommingEvents{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 600px;
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    gap: 8rem;

    .imageContainer{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 90%;
       width: 50%;
    }

    .eventBody{
       display: flex;
       justify-content: flex-start;
       flex-direction: column;
       height: 90%;
       width: 50%;
       gap: 2rem;

       span:nth-of-type(1){
           color: $bg_dark;
           font-size: 30px;
           font-family: $normal_font;
       }

       span:nth-of-type(2){
           color: $bg_dark;
           font-size: 55px;
           font-family: $normal_font;
           overflow-wrap: break-word;
           word-wrap: break-word;
           word-break: break-all;
           white-space: break-word;
       }

       p:nth-of-type(1){
           color: $bg_dark;
           font-size: 28px;
           font-family: $normal_font;
           overflow-wrap: break-word;
           word-wrap: break-word;
           word-break: break-all;
           white-space: break-word;
       }

       .bodyFooter{
           display: flex;
           justify-content: flex-start;
           align-items: center;
           gap: 3rem;

           a:nth-of-type(1){
               text-decoration: none;
               max-width: 250px;
               width: 40%;
               height: 100px;
               border-radius: 0px;
               color: $bg_white;
               background-color: $bg_orange;
               font-size: 25px;
               font-family: $normal_font;
               display: flex;
               text-align: center;
               align-items: center;
               justify-content: center;

               &:hover{
                  border: 2px solid $bg_orange;
                  background-color: $bg_white;
                  color: $bg_orange;
               }

           }

           a:nth-of-type(2){
               text-decoration: none;
               max-width: 250px;
               width: 40%;
               height: 100px;
               border-radius: 0px;
               border: 2px solid $bg_orange;
               background-color: $bg_white;
               color: $bg_orange;
               font-size: 25px;
               font-family: $normal_font;
               display: flex;
               text-align: center;
               align-items: center;
               justify-content: center;
               transition: background-color 2s;

               &:hover{
                  color: $bg_white;
                  background-color: $bg_orange;
                  transition: background-color 2s;
               }

           }
       }


    }
}